/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of http://meyerweb.com/eric/tools/css/reset/ */


body { color: #aaa; }

h1 { border-bottom: 2px solid #ccc; padding: 10px; padding-left: 15px; margin: 0 auto; text-transform: uppercase; }

ul#tasks { border: 1px solid #eee; background-color: #ffecd0; width: 400px; margin: 20px; }

ul#tasks li { border-bottom: 2px solid #ddd; background-color: #fff3e1; padding: 7px 15px; }

ul#tasks li .delete-task { margin-right: 20px; }
ul#tasks li div.task-name { display: inline; }
ul#tasks li .control-time { margin-left: 20px; }
ul#tasks li .elapsed-time { border: 2px solid #aaa; background-color: #fff; padding: 3px 5px 0; margin-left: 20px; }
ul#tasks li .control-time { float: right; width: 50px; }
ul#tasks li .elapsed-time { float: right; }

#error-message { margin-left: 70px; margin-bottom: 10px; color: #cd5c5c; }
#new-task { margin-left: 70px; width: 180px; }
